body{
  background-color: #e5e5e5
}
p{
  font-style: Lato,sans-serif
}
.content{
  margin-top: 1.5%;
}
.col-centered{
float: none;
margin: 0 auto;
}
.box{
  width: 100%;
  background-color: #FFF;
  height: auto;
  border-radius: 5px;
  margin-top: 5%;
}
.box-header{
  width: 100%;
  height: 40px;
  background-color: #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #FFF;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
}
.box-content{
  padding: 2%;
}
.footer{
  margin-top: 12.5%;
  text-align: center;
  font-size: 12px;
}
thead,tfoot{
  background-color: #FFF;
}
.footer p {
  margin-top: 3%;
}
  /* .container-fluid{
    padding: 0px;
  } */
  .right{
    width: 20%;
  }
  .right ul{
    line-height: 21px;
    list-style: none;
  }
  .right ul li {
    display: inline-block;
    margin-left: 5px;
  }
  .right ul li a{
    padding: 12px 10px 13px 10px;
    color: #FFF;
    font-size: 13px;
  }
  .active-lang{
    background-color: #FFF;
    color: #000 !important;
  }
  .right ul li:last-child{
    font-size: 12px;
    padding-left: 15px;
    float: right;
  }
  .top_header a{
    color: white;
    text-decoration: none;
  }
  .top_header{
    color: white;
    background-color: #004185;
  }
  .top_header .logo {
    width: 80px;
    margin-top: 10px
  }
  .control-panel{
    font-size: 12px;
    padding-top: 2px;
  }
  .control-panel , .ul , .about{
    margin-top: 8px
  }
  .ul ul li{
    padding-right: 5px 2px 2px 0px
  }
  .about{
    width: 140px
  }

  .header{
    background-color: #222;;
    color:white;
  }
  .header img{
    width: 40px;
      height: 40px;
      margin-top: 6px;
      border-radius: 40px;
      background-size: cover;
      float: left;
      margin-right: 17px;
  }
  .header h5{
    font-size: 12px;
    margin-top: 13px
  }
  .header p {
    font-size: 10px
  }
  .button_groups{
    margin-top: 7px;
      margin-bottom: 7px
  }
  .button_groups ul{
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1%;

  }
  .button_groups ul li{
    display: table-cell;
    background-color: #000;
    padding-top: 1.2%;
      padding-bottom: 1.2%;

  }
  .button_groups ul li:first-child {
    border-top-left-radius: 5px;
  }
  .button_groups ul li:first-child {
    border-bottom-left-radius: 5px;
  }
  .button_groups ul li:last-child {
    border-top-right-radius: 5px;
  }
  .button_groups ul li:last-child {
    border-bottom-right-radius: 5px;
  }
  .button_groups ul li a{
    text-decoration: none;
    color: #FFF;
    padding: 15px;
    font-size: 12px;
    font-family: arial;
  }
  .button_groups span{
    float: left;
    padding-top: 2.1%;
    padding-right: 2%;
  }
  .header .role{
    margin-top: -11px
  }
  .icon-exc{
    float: right;
  }
  .icon-exc i{
    padding: 5px 10px;
      border: 1px solid white;
      border-radius: 100%;
      background: white;
      color: black;
    float: right;
    margin-top: 15px;
    margin-right: 10px
  }
  .menu{
    position: absolute;
      margin-top: 58px;
      background: #212121;
      width: 230px;
      display: none;
      padding-left: 0px;
      z-index: 999;
  }
  .menu-open{
    display: block;
  }
  .menu li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px dotted hsla(0,0%,100%,.5)
  }
  .menu li:hover{
    background-color: white;
    color: black;
  }
  .menu li:hover a{
    color: #000 !important;
  }
  .menu li a{
    color: #FFF !important;
    text-decoration: none;
    padding-right: 69px;
      padding-bottom: 9px;
      padding-top: 11px; 
  }
  .menu_icon{
    margin-left: -2%;
  }
  .menu_icon a{
        position: absolute;
    left: -24px;
    top: 14px;
  }
  .menu .fa{
    margin-right: 20px;
    margin-left: 10px
  }
  .header-top{
    background-color: #004185;
  }
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-top: 21%;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  margin-bottom: 10%;
  height: 2px;
  width: 60%;
  background: #FFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  top: 6px !important;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
